*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:black;
}
h1{
    position:absolute;
    color:white;
    margin-left:900px;
    top:200px;
}
.container{
    width:100%;
    display:flex;
    font-family: 'Kanit', sans-serif;
}
.canvas{
    position:absolute;
    top:0;
    left:0;
}