*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:black;
    font-family: 'Kanit', arial;
}
.container{
    width:100%;
    display:flex;
    
}
.canvas{
    position:absolute;
    top:0;
    left:0;
}